<h2 class="flex px-[64px] pt-[64px]">{{ heading }}</h2>
<div class="flex flex-col px-[64px] py-[30px] gap-32">
  <TextField
    [className]="''"
    [error]="true"
    [horizontal]="false"
    [size]="''"
    [color]="''"
    [disabled]="false"
    [readonly]="false"
    (click)="('')"
  >
    <label>Currency</label>
    <InputContainer className="w-[300px]">
      <input placeholder="Select ETA" [(ngModel)]="heading" />
      <Unit>mt</Unit>
    </InputContainer>
    <HelperText className="self-stretch text-error-100 text-xs">
      <span>Required</span>
    </HelperText>
  </TextField>
  <div class="flex flex-col items-start gap-12">
    <Button
      [className]="''"
      [error]="true"
      [variant]="buttonVarient"
      [size]="buttonSize"
      [disabled]="true"
      [readonly]="false"
      (click)="buttonClicked($event)"
    >
      {{ heading }}
    </Button>
    <div class="flex flex-col gap-4">
      <label for="size">Size</label>
      <select id="size" [(ngModel)]="buttonSize">
        <option value="xs">xs</option>
        <option value="sm">sm</option>
        <option value="md">md</option>
        <option value="lg">lg</option>
      </select>
      <br />
      <label for="size">Varient</label>
      <select id="Varient" [(ngModel)]="buttonVarient">
        <option value="primary">primary</option>
        <option value="secondary">secondary</option>
        <option value="secondary-light">secondary-light</option>
        <option value="outlined">outlined</option>
        <option value="destructive">destructive</option>
        <option value="destructive-light">destructive-light</option>
        <option value="transparent-light-outlined">
          transparent-light-outlined
        </option>
        <option value="text">text</option>
      </select>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
